@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}






body {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(206, 206, 206);    
}

.btn-default {
    background-color: hsl(184, 100%, 37%);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    gap : 8px;
    height: fit-content;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease

}

.btn-default:hover {
    background-color: hsl(184, 100%, 21%);
}


 #form_container {

   display: flex;
    flex-direction: column;
    gap: 32px;
    height: 100%;
    background-color: #f6f8ff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    
 }


 #form_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 #form_title {
    font-weight: 500;
    color: #272727;
    position: relative;
 }

 #form_title::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 30px;
    background-color: hsl(184, 100%, 37%);
    left: 0;
    bottom: 0px;
 }

#form {

    display: flex;
    justify-content: space-between ;
    flex-direction: column;
    gap: 32px;
    height: 100%;

}


#input_container {
    display: grid;
    gap: 24px;
}

.form-label {
    font-size: 12px;
    color: #404044;
    font-weight: 500;
}

.input-field {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

}

 .input-field i {
    display : flex;
    align-items: center;
    width: 30px;
    height: 20px;
    color: #404044;
    

 }

.form-control {

    padding: 20px;
    
    border:transparent;
    border-radius: 8px;

}  


.input-field .password-icon:hover {
    color: #676770;
    cursor: pointer;
}

.form-control:focus {
    outline: none;
}

.input-box .input-field:focus-within {

  outline: 2px solid #6366f1;


}

input :-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px  white inset !important;
    color : #000 ;
}

.radio-container {
    grid-column: span 2;

}

#gender_inputs {

    display: flex;
    gap: 20px;
}

.radio-box {
    display: flex;
    gap: 4px;
    align-items: center;
    
}

.form-control[type="radio"] {
   accent-color: #000000;
   
   

}











.error {
    color: #dc2626;
    font-size: 12px;
    margin-top: 4px;
    max-width: 200px;
}

.input-box.invalid .form-label {
    color: #dc2626;
}

.input-box.invalid .input-field {
    border: 1px solid #dc2626;
}

.input-box.valid .form-label {
    color: #22c55e;
}

.input-box.valid .input-field {
    border: 1px solid #22c55e;
}

.radio-container.invalid .form-label:first-child {
    color: #dc2626;
}

.radio-container.valid .form-label:first-child {
    color: #22c55e;
}

@media screen and (max-width: 500px) {
    #form_container {
        width: 100%;
        min-height: 100vh;
        padding: 32px;
    }

    #input_container {
        display: flex;
        flex-direction: column;
        gap: 38px;
    }

    .form-control[type="date"] {
        background-color: #fff;
    }
}



  




 


